@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.styled_btn{
    outline: none;
    background: #247ffb;
    border: 1px solid #247ffb;
    transition: 0.5s;
    color: white;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.styled_btn::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #13287e;
    transition: 0.3s linear;
    z-index: -1;
}
.styled_btn:hover::before{
    width: 100%;
    left: 0;
    color: white;
}
.styled_btn:hover{
    color: white;
}
.d-flex-full{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* navbar css */
.navbar{
    padding: 5px 0px;
    border-top: 8px solid #247dfb3e;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.navbar .navbar-brand img{
    width: 200px;
}
.navbar .nav-item{
    margin-right: 12px;
}
.navbar .nav-item .nav-link{
    font-size: 18px;
    transition: 0.5s;
}
.navbar .nav-item .nav-link:hover{
    color: #247ffb;
}
.navbar .nav-item .nav-link.active{
    color: #247ffb;
}




/* hero section css start  */
.hero_section{
    min-height: 80vh;  /* to remove */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_section .left_section .heading{
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    position: relative;
}
.hero_section .left_section .heading::after{
    content: '';
    background: url(../img/water-slide.png);
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-left: 23px;
    margin-top: 10px;
}
.hero_section .left_section .description{
    width: 88%;
    font-size: 15px;
    margin-top: 25px;
    color: rgb(96, 96, 96);
}
.hero_section .left_section .buttons{
    display: flex;
    margin-top: 40px;
}
.hero_section .left_section .buttons button{
    outline: none;
    padding: 8px 15px;
    margin-right: 20px;
    border-radius: 5px;
}
.hero_section .left_section .buttons .first_btn{
    padding: 10px 30px;
}
.hero_section .left_section .buttons .second_btn{
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.hero_section .left_section .buttons .second_btn i{
    margin-right: 15px;
    font-size: 28px;
}





.hero_section .right_section{

}
.hero_section .right_section .input_div{
    margin-top: 25px;
    position: relative;
}
.hero_section .right_section .input_div input,
.hero_section .right_section .input_div select{
    width: 100%;
    height: 45px;
    outline: none;
    border: 1px solid rgb(182, 182, 182);
    padding: 8px 0px 0 15px;
}
.hero_section .right_section .input_div label{
    position: absolute;
    width: fit-content;
    padding: 0px 8px;
    background: white;
    top: -10px;
    left: 15px;
    font-size: 14px;
}
.hero_section .right_section button{
    margin-top: 25px;
    padding: 10px 67px;
    font-size: 16px;
}
.hero_section .right_section .total{
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}







::-webkit-inner-spin-button { 
    display:none;
}
::-webkit-calendar-picker-indicator { background-color:white}
  input[type=date]{
    font-size:16px;
}
::-webkit-datetime-edit-text { color:#555555}
::-webkit-datetime-edit-month-field { color:#555555 }
::-webkit-datetime-edit-day-field { color: #555555; }
::-webkit-datetime-edit-year-field { color:#555555; }
::-webkit-calendar-picker-indicator{ 
    background-image: url(../img/calender.png);
    background-position:center;
    background-size:20px 20px;
    background-repeat:no-repeat;
    margin-right: 10px;
    color:rgba(204,204,204,0);
}